<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> AboutMe </title>
	<link rel="stylesheet" href="css/index.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		body{
			background-image: url("images/1.jpg");
		}
	</style>
</head>

<body>
	<div class="container"></div>
	<nav class="Navbar">
		<div id="nav" class="btn-group" role="group">
			<a button type="button" id="id1" href="/index" class="btn btn">Home</button></a>
			<a button type="button" id="id1" href="/game" class="btn btn">Your Choice</button></a>
			<a button type="button" id="id1" href="/contact" class="btn btn">Contact Me</button></a>
		</div>
	</nav>